---
import { normalizeElementId } from '../normalizeElementId';
interface Props {
	company: string;
  timeRange: string;
	description: string;
	topics: string[];
}

const { description, timeRange, company, topics } = Astro.props as Props;
const titleId = normalizeElementId(`${company}_TITLE`)
const topicsId = normalizeElementId(`${company}_TOPICS`)
const descriptionId = normalizeElementId(`${company}_DESCRIPTION`)
---

<section class="space-y-4">
  <div class="flex items-center gap-2 flex-wrap" id={titleId}>
    <h2 class="text-2xl dark:text-white font-semibold text-slate-900">
      {company}
    </h2>
    <span class="text-lg font-semibold dark:text-gray-400 text-slate-600">
      {timeRange}
    </span>
  </div>
  <ul id={topicsId} class="list-disc pl-6">
    {topics.map(topic => <li>{topic}</li>)}
  </ul>

  <p id={descriptionId} class="text-lg leading-tight">
    {description}
  </p>
</section>